<section class="row">
    <aside class="col-sm burgerAside">
        <h2>Burgers waiting to be devoured:</h2>
        {{#each burger}}
            {{#unless devoured}}
                <div>
                    <ul class="openBurg">{{this.burger_name}}</ul><button id="{{this.id}}" class="devBtn">Devour It!</button>
                </div>
            {{/unless}}
        {{/each}}
    </aside>

    <aside class="col-sm devouredAside">
        <h2>Devoured Burgers</h2>
        {{#each burger}}
            {{#if devoured}}
                <ul class="eatenBurg">{{this.burger_name}}</ul>
            {{/if}}
        {{/each}}
    </aside>
</section>