<p>Burger Eater!</p>

<p>Burgers waiting to be devoured:</p>
    {{#each burger}}
        {{#unless devoured}}
            <ul>{{this.burger_name}}</ul><button id="{{this.id}}" class="devBtn">Devour It!</button>
        {{/unless}}
    {{/each}}

<p>Devoured Burgers</p>
    {{#each burger}}
        {{#if devoured}}
            <ul>{{this.burger_name}}</ul>
        {{/if}}
    {{/each}}